.background{
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 100px;
}

@media (max-width:768px) {

    .background img{
        visibility: hidden;
    }
    
}

@media (max-width:480px) {
    
    
}