/* Skills.module.css */
.main {
    background: linear-gradient(to right, black, black, black);
    box-sizing: border-box;
    display: flex; /* Ensure flexbox is applied */
    justify-content: space-between;

}


@media (max-width:768px) {
    .main{
        display: block;
    }
    
    
}

@media (max-width:480px) {
.main{
    display: block;
}
    
}