@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3d52a0;
  --foreground: #171717;
  --customcolur: #7091E6;
  --customcolur2: #8697C4;
  --customcolur3: #ADBBDA;
  --customcolur4: #EDE8F5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html {
  scroll-behavior: smooth;
}


/* body {
  color: var(--customcolur4);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
